div {
    font-family: arial;
}


.container {
    margin-left:20px;
    margin-top:20px;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.25);
    padding-left: 15px;
    padding-top:10px;
    padding-right:15px;
    padding-bottom:10px;
    width: 400px;
    
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:20px;
}

.inbox {
    color: rgb(120, 120, 120);
    font-size: 15px;
    margin-bottom: 20px;
}


.profile-photo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    
}

.profile-photo-container{
    margin-right:10px;
}



.email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.time {
    color: rgb(120, 120, 120);
    font-size: 14px;
}

.sender-name {
    font-weight:bold;
    margin-left:8px;
    font-size:18px;
}

.subject {
    font-weight: bold;
    margin-left:8px;
    font-size:16px;
}

.message{
    color: rgb(120, 120, 120);
    margin-left: 8px;
    
}

.email-content{
    line-height: 21px;
    flex:1;
}